<button
    class="layout-config-button p-link"
    type="button"
    (click)="onConfigButtonClick()"
>
    <i class="pi pi-moon"></i>
</button>

<p-sidebar
    [(visible)]="visible"
    position="right"
    [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'"
    styleClass="layout-config-sidebar w-20rem"
>
    <h5>COLOR DE TEMA</h5>
    <div class="grid">
        <div class="col-3">
            <button
                class="p-link w-2rem h-2rem"
                (click)="changeTheme('mdc-light-deeppurple', 'light')"
            >
                <img
                    src="assets/layout/images/themes/md-light-deeppurple.svg"
                    class="w-2rem h-2rem"
                    alt="Material Light Deep Purple"
                />
            </button>
        </div>

        <div class="col-3">
            <button
                class="p-link w-2rem h-2rem"
                (click)="changeTheme('mdc-dark-deeppurple', 'dark')"
            >
                <img
                    src="assets/layout/images/themes/md-dark-deeppurple.svg"
                    class="w-2rem h-2rem"
                    alt="Material Dark Deep Purple"
                />
            </button>
        </div>
    </div>
</p-sidebar>
