<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="New"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Delete"
                            icon="pi pi-trash"
                            class="p-button-danger"
                            (click)="deleteSelectedUsuarios()"
                            [disabled]="
                                !selectedUsuarios || !selectedUsuarios.length
                            "
                        ></button>
                    </div>
                </ng-template>

                <!--mat-form-field appearance="fill">
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field-->

                <!--ng-template pTemplate="right">
                    <p-fileUpload
                        mode="basic"
                        accept="image/*"
                        [maxFileSize]="1000000"
                        label="Import"
                        chooseLabel="Import"
                        class="mr-2 inline-block"
                    ></p-fileUpload>
                    <button
                        pButton
                        pRipple
                        label="Export"
                        icon="pi pi-upload"
                        class="p-button-help"
                        (click)="dt.exportCSV()"
                    ></button>
                </ng-template-->
            </p-toolbar>

            <p-table
                #dt
                [value]="usuarios"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="20"
                [globalFilterFields]="['username', 'email', 'roles']"
                [rows]="20"
                [paginator]="true"
                [rowsPerPageOptions]="[20]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedUsuarios"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="
                            flex flex-column
                            md:flex-row
                            md:justify-content-between
                            md:align-items-center
                        "
                    >
                        <h5 class="m-0">Administrar Usuarios</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th
                            *ngFor="let col of cols"
                            [pSortableColumn]="col.field"
                        >
                            {{ col.header }}
                            <p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="usuario"
                            ></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of cols">
                            <span>{{ usuario[col.field] }}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="
                                        p-button-rounded p-button-success
                                        mr-2
                                    "
                                    (click)="editUsuario(usuario)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteUsuario(usuario)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog
            [(visible)]="deleteUsuarioDialog"
            [style]="{ width: '450px' }"
            header="Eliminar Usuario"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <h6>Esta seguro de eliminar la usuario?</h6>
            </ng-template>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancelar"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="cancelDelete()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Eliminar"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>
        <p-dialog
            [(visible)]="usuarioDialog"
            [style]="{ width: '450px' }"
            header="Nuevo Usuario"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <img
                    [src]="'assets/demo/images/usuario/' + usuario.avatar"
                    [alt]="usuario.avatar"
                    width="150"
                    class="mt-0 mx-auto mb-5 block shadow-2"
                    *ngIf="usuario.avatar"
                />

                <div class="field">
                    <label>Funcionario</label>
                    <p-dropdown
                        [options]="personas"
                        [(ngModel)]="usuarioPersonas"
                        optionLabel="nombres"
                    ></p-dropdown>

                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !usuario.funcionario"
                        >El Funcionario es requerido.</small
                    >
                </div>

                <div class="field">
                    <label for="roles">Rol</label>
                    <p-dropdown
                        [options]="roles"
                        [(ngModel)]="usuario.roles"
                        optionLabel="nombre"
                    ></p-dropdown>

                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !usuario.roles"
                        >El rol es requerido.</small
                    >
                </div>

                <div class="field">
                    <label for="cargo">Cargo</label>
                    <input
                        type="text"
                        pInputText
                        id="cargo"
                        [(ngModel)]="usuario.cargo"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !usuario.cargo
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !usuario.cargo"
                        >El cargo es requerido</small
                    >
                </div>
                <div class="field">
                    <label for="username">Password</label>
                    <input
                        type="password"
                        pInputText
                        id="password"
                        [(ngModel)]="usuario.password"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                submitted && !usuario.password
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !usuario.password"
                        >La contraseña es requerida</small
                    >
                </div>
                <div class="field">
                    <label for="username">Email</label>
                    <input
                        type="email"
                        pInputText
                        id="email"
                        [(ngModel)]="usuario.email"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !usuario.email
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !usuario.email"
                        >El correo es requerido.</small
                    >
                </div>

                <!--<div class="field">
                    <label class="mb-3">Estado</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton
                                id="category1"
                                name="category"
                                value="Accessories"
                                [(ngModel)]="usuario.email"
                            ></p-radioButton>
                            <label for="category1">Activo</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton
                                id="category2"
                                name="category"
                                value="Clothing"
                                [(ngModel)]="usuario.email"
                            ></p-radioButton>
                            <label for="category2">Inactivo</label>
                        </div>
                    </div>
                </div>-->
                <!--<div class="field">seleccion formulario opciones
                    <label for="status">Tipo</label>
                    <p-dropdown
                        id="status"
                        [options]="statuses"
                        optionLabel="label"
                        [(ngModel)]="usuario.inventoryStatus"
                        placeholder="Tipo de Cargo"
                    >
                        <ng-template pTemplate="selectedItem">
                            <span
                                *ngIf="usuario && usuario.inventoryStatus"
                                [class]="
                                    'usuario-badge status-' +
                                    usuario.inventoryStatus.value.toLowerCase()
                                "
                                >{{ usuario.inventoryStatus.value }}</span
                            >
                        </ng-template>
                        <ng-template let-status pTemplate="status">
                            <span
                                [class]="
                                    'usuario-badge status-' +
                                    status.value.toLowerCase()
                                "
                                >{{ status.label }}</span
                            >
                        </ng-template>
                    </p-dropdown>
                </div> -->

                <!--<div class="formgrid grid"> espacio donde se coloca automaticamente la selecion que se opto
                    <div class="field col">
                        <label for="price">Cargo</label>
                        <p-inputNumber
                            id="price"
                            [(ngModel)]="usuario.price"
                            mode="currency"
                            currency="USD"
                            locale="en-US"

                        ></p-inputNumber>
                    </div>

                </div>-->
                <!-- <div class="field">
                    <label class="mb-3">Tipo</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton
                                id="category1"
                                name="category"
                                value="Accessories"
                                [(ngModel)]="usuario.category"
                            ></p-radioButton>
                            <label for="category1">Planta</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton
                                id="category2"
                                name="category"
                                value="Clothing"
                                [(ngModel)]="usuario.category"
                            ></p-radioButton>
                            <label for="category2">Eventual</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton
                                id="category3"
                                name="category"
                                value="Electronics"
                                [(ngModel)]="usuario.category"
                            ></p-radioButton>
                            <label for="category3">Contrato</label>
                        </div>
                    </div>
                </div> -->
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Save"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveUsuario()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
