<div class="card px-6 py-6">
    <h5>REPORTE DE SUCURSALES</h5>
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="right">
            <p-fileUpload
                mode="basic"
                accept="image/*"
                [maxFileSize]="1000000"
                label="Import"
                chooseLabel="Import"
                class="mr-2 inline-block"
            ></p-fileUpload>
            <button
                pButton
                pRipple
                label="Export"
                icon="pi pi-upload"
                class="p-button-help"
                (click)="dt.exportCSV()"
            ></button>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="products"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedProducts"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
    >
        <ng-template pTemplate="caption">
            <div
                class="
                    flex flex-column
                    md:flex-row
                    md:justify-content-between
                    md:align-items-center
                "
            >
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        placeholder="Search..."
                        class="w-full sm:w-auto"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code">CI</th>
                <th pSortableColumn="name">
                    Nombres <p-sortIcon field="name"></p-sortIcon>
                </th>

                <th pSortableColumn="text">
                    Apellido Paterno
                    <p-sortIcon field="text"></p-sortIcon>
                </th>
                <th pSortableColumn="text">Apellido Materno</th>
                <th pSortableColumn="text">Email</th>
                <th pSortableColumn="text">Cargo</th>
                <th pSortableColumn="text">Tipo</th>
                <th pSortableColumn="text">Nombre Sucursal</th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td style="width: 14%; min-width: 10rem">
                    <span class="p-column-title">CI</span>
                    8505154
                </td>
                <td style="width: 14%; min-width: 10rem">
                    <span class="p-column-title">NOMBRE</span>
                    OLGA
                </td>
                <td style="width: 14%; min-width: 10rem">
                    <span class="p-column-title">APELLIDO PATERNO</span>
                    MAMANI
                </td>
                <td style="width: 14%; min-width: 8rem">
                    <span class="p-column-title">APELLIDO MATERNO</span>
                    ALEJO
                </td>
                <td style="width: 14%; min-width: 10rem">
                    <span class="p-column-title">EMAIL</span>
                    olga@gmail.com
                </td>
                <td style="width: 14%; min-width: 10rem">
                    <span class="p-column-title">CARGO</span>
                    ENCARGADO DE SISTEMAS
                </td>
                <td style="width: 14%; min-width: 10rem">
                    <span class="p-column-title">TIPO</span>
                    EVENTUAL
                </td>
                <td style="width: 14%; min-width: 10rem">
                    <span class="p-column-title">NOMBRE SUCURSAL</span>
                    SAN MARTIN - UYUNI
                </td>
                <td>
                    <button
                        pButton
                        type="button"
                        icon="pi pi-print"
                        class="p-button-danger"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!--
    <div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="p-fluid p-formgrid grid">
                <div class="p-inputgroup">
                    <button
                        type="button"
                        pButton
                        pRipple
                        label="Search ID"
                    ></button>

                    <input type="text" pInputText placeholder="Keyword" />
                </div>

                <div class="field col-12 md:col-6">
                    <label htmlFor="lastname2">Lastname</label>
                    <input pInputText id="lastname2" type="text" />
                </div>
                <div class="field col-12">
                    <label htmlFor="address">Address</label>
                    <input pInputTextarea id="address" rows="4" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="city">City</label>
                    <input pInputText id="city" type="text" />
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="state">State</label>
                    <p-dropdown
                        [options]="dropdownItems"
                        optionLabel="name"
                        [(ngModel)]="selectedState"
                    ></p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="zip">Zip</label>
                    <input pInputText id="zip" type="text" />
                </div>
                <button pButton label="Submit"></button>
            </div>
        </div>
    </div>
    <div class="card p-fluid">
        <h5>Vertical</h5>
        <div class="field">
            <label htmlFor="name1">Name</label>
            <input pInputText id="name1" type="text" />
        </div>
        <div class="field">
            <label htmlFor="email1">Email</label>
            <input pInputText id="email1" type="text" />
        </div>
        <div class="field">
            <label htmlFor="age1">Age</label>
            <input pInputText id="age1" type="text" />
        </div>
    </div>

    <div class="card p-fluid">
        <h5>Vertical Grid</h5>
        <div class="p-formgrid grid">
            <div class="field col">
                <label htmlFor="name2">Name</label>
                <input pInputText id="name2" type="text" />
            </div>
            <div class="field col">
                <label htmlFor="email2">Email</label>
                <input pInputText id="email2" type="text" />
            </div>
        </div>
    </div>
    <div class="card">
        <h5>Help Text</h5>
        <div class="field p-fluid">
            <label htmlFor="username">Username</label>
            <input pInputText id="username" type="text" />
            <small>Enter your username to reset your password.</small>
        </div>
    </div>
    <div class="card p-fluid">
        <h5>Horizontal</h5>
        <div class="field grid">
            <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0"
                >Name</label
            >
            <div class="col-12 md:col-10">
                <input pInputText id="name3" type="text" />
            </div>
        </div>
        <div class="field grid">
            <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0"
                >Email</label
            >
            <div class="col-12 md:col-10">
                <input pInputText id="email3" type="text" />
            </div>
        </div>
    </div>

    <div class="card">
        <h5>Inline</h5>
        <div class="formgroup-inline">
            <div class="field">
                <label htmlFor="firstname1" class="p-sr-only">Firstname</label>
                <input
                    pInputText
                    id="firstname1"
                    type="text"
                    placeholder="Firstname"
                />
            </div>
            <div class="field">
                <label htmlFor="lastname1" class="p-sr-only">Lastname</label>
                <input
                    pInputText
                    id="lastname1"
                    type="text"
                    placeholder="Lastname"
                />
            </div>
            <button pButton label="Submit"></button>
        </div>
    </div>
</div>
-->
