<div class="layout-topbar">
    <a class="layout-topbar-logo">
        <img
            src="https://i.ibb.co/YjdPZM9/COOPERATIVA.png"
            width="60"
            height="60"
            alt="COOPERATIVA"
        />
        <span>SAN MARTIN</span>
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <button class="p-link layout-topbar-button" (click)="cerrarSesion()">
            <i class="pi pi-user"></i>
            <span>CERRAR SESION</span>
        </button>
    </div>
</div>
